@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;   
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}


:root{
    --bgc:#222327
}
body{
   overflow-x: hidden; 
   display: flex;
   justify-content: center;
}

#secI{
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bgc) ;
}

.main{
    width: 100vw;
    height: 20vh;
    background-color: #001e29;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.nav{
    position: fixed;
    width: 98%;
    height: 70px;
    background-color: #00694a;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    border-radius: 10px;
    margin-top: 2.5em;

}

.nav > div{
    position: absolute;
    left: 0;
}

.nav > div > img{
    width: 16.5%;
}

.nav > ul{
    display: flex;
    width: 350px;
}

.nav > ul > li{
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.nav > ul > li > a{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.nav > ul > li > a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    color: #fff;
    transition:.5s;
}

.nav > ul > li.active > a .icon{
    transform: translateY(-35px);
}


.nav > ul > li > a .text{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);



}

.nav > ul > li.active > a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: #00694a;
    border-radius: 50%;
    border: 6px solid #001e29;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator::before{
    content:'';
    position: absolute;
    top:50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #001e29;
}

.indicator::after{
    content:'';
    position: absolute;
    top:50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #001e29;
}

.indicator img{
    width: 100%;
}

.nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

.bodyI{
    display: block;
    background-color: #fff;
}

.main-bodyI{
    color:#fff;
    display:flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bgc) ;
    background-image: url('../Images/other.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*--------------RINGs de PERCENTAGEM-------------------*/

.percentegem-aceitacao {
  position: absolute;
  background-color: rgba(0, 30, 41, 0.5);
  width:  100vw;
  margin: 2em auto;
  bottom: -2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  border-radius: 1em;
}

.div-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ring-bg {
  fill: none;
  stroke: #fff;
}

.progress-ring,
.progress-ring-50,
.progress-ring-88 {
  transform: rotate(-90deg);
}

.ring-progress,
.ring-progress-50,
.ring-progress-88 {
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  transition: stroke-dashoffset 0.5s ease;
}

.ring-progress {
  stroke: #3c6900;
}

.ring-progress-50 {
  stroke: #696200;
}

.ring-progress-88 {
  stroke: #a30461;
}

/*----Configuração dos textos dos Rings---------*/
.textRotation{
    transform: rotate(90deg);	
}

/*----Configuração de Article de Serviços---------*/
.Descr{
    width: 100vw;
    padding: 2em;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-article{
    width: 100vw;
    padding: 2em;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #835021;
}

.Descr > .second-article > .div-graph-picture{ 
    display: flex;
    justify-content: center;
    width: 46%;
    background-color: #fff;
    box-shadow: 0px 0px 8px;
    border-radius: .4em;
}

.Descr > .second-article > .div-graph-picture img{ 
    width: 90%;
}

.div-graphic-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
}


.div-graph-picture{
    width: 100%;
}

.firt-parag{
    opacity: 0;
    font-size: 1.5em;
    margin-top: 1.2em;
}

/*Área de Serviços*/
.area-servicos{
    position: relative;
    background-color: #001e29;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 1em;
    width: 100vw;
    height: auto;
    background-repeat: repeat;
    background-size: cover;
}

.area-servicos > div{
    background-color: rgb(255, 255, 255,1);
    width: 96%;
    padding: 1em;
    display: flex;
    justify-content:center;
    align-items: centera;
    flex-direction: column;
   margin-top: 2.5em;
}

.area-servicos > h1{
    text-align: center;
    font-size: 2.1em;
    color: #fff;
    position: absolute;
    top: 1em;
    z-index: 1;
    text-shadow: 0px 0px 6px black;
}

/*caixas de serviços*/
.servicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.servicos > div.caixas-servicos{
    padding: 1.5em;
    transition: .2s;
    width: 25%;
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    cursor: default;
    color: #fff;
    background-color: #001e29;
    
}

.servicos > div:hover{
    padding: 1.5em;
    box-shadow: 0px 0px 18px red;
    
}

.servicos > div:hover .span-icon{
    color: #87ac03;
}


.servicos > div > .span-title{
    color:#87ac03;
    margin-top: 2.5em;
    margin-bottom: 1em;
    font-size: 1.4em;
}

.servicos > div > .span-text{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .9em;
}

.servicos .main-btn{
    background-color:#ffffffd2;
    width: 100%;
    position: absolute;
    bottom: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.servicos > div > .main-btn > .span-btn{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 8vw;
    height: 4.5vh;
    color: #6a8603;
    border: 2px solid #000;
    border-radius: 1em;
    bottom: .5em;
    cursor: pointer;
    transition: .3s;
    box-sizing: border-box;
}

.servicos > div > .main-btn > .span-btn > span{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 6.8vw;
    height: 3vh;
    transition: .2s;
 }

.servicos > div > .main-btn > .span-btn > span:hover{
   transform: scale(1.08);
   border-radius:1em ;
   background-color: #001e29;
   color: #fff;
  
}


.area-servicos > div .span-icon{
   font-size: 3em;
   position: absolute;
   top: 0;
}

.NossasQualidades{
    background-color:red;
    width: 0;
    height: 0em;
}

.otraClass{
    background-color: red;
}

.div-qualidades{
    color:#fff;
    background-color: #001e29;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
}

.about-us{
    position: relative;
    padding-top:2em;
    background-color: red;
    width: 70vw;
}

#whoAreWe{
    padding-top: 2.5em;
}

.article-about{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    background-color: #835021;
    background-image: url('../Images/earthday.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 1em;
    height: 100vh;
}


.div-aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: justify;
    padding: .5em;
    font-size: 1em;
    letter-spacing: .2em;
    width: 40em;
    height: 22em;
    background-color: #000000af;
    box-shadow: 0px 0px 8px;
    color: #fff;
    border-radius: 1em;
    position: relative;
}


.div-aboutText p{
    font-variant: small-caps;
    font-variant: small-caps;
    font-style: italic;
}

.div-aboutText > h2{
    position: absolute;
    font-size: 2em;
    top: .5em;
    background-color: #001734c0;
    width: 97%;
    border-radius: .2em;
    padding: 0em .5em;
}

.article-about > div.div-aboutImage{
    width: 25em;
    height: 25em;
    border-radius: 50%;
    box-shadow: 0px 0px 8px;
    padding: 1em;
}


.div-aboutImage > img{
    width:100%;
    height: 100%;
    border: 1px solid #ffffff00;

}

.about-us h1{
    text-align: center;
    font-size: 2.1em;
    color: #fff;
    position: absolute;
    top: -.8em;
    left:0em;
    z-index: 1;
    text-shadow: 0px 0px 6px black;
    width: 100%;
}

/*Our Vision*/
.separador{
    position: relative;
    background-color: #001e29;
}
.separador > .article-separador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    height: 100vh;
}

.separador >.article-separador> .div-separadorText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: justify;
    padding: .5em;
    font-size: 1em;
    letter-spacing: .2em;
    width: 40em;
    height: 22em;
    padding: .5em;
    box-shadow: 0px 0px 8px;
    color: #0fff;
    border-radius: 1em;
    position: relative;
}

.separador >.article-separador > .div-separadorText > p{
    font-variant: small-caps;
    font-variant: small-caps;
    font-style: italic;
}

.separador >.article-separador > .div-separadorText > h2{
 position: absolute;
    font-size: 2em;
    top: .5em;
    background-color: #ffffff49;
    width: 97%;
    border-radius: .2em;
    padding: 0em .5em;
    color:#fff;
}

.separador >.article-separador> .div-separadorImage{
    width: 25em;
    height: 25em;
    border-radius: 50%;
    box-shadow: 0px 0px 8px;
    padding: 1em;
}

.separador > .article-separador > div > img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ffffff00;
}

.our-vision{
    position: relative;
}

.our-vision .article-vision{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #835021;
    background-image: url('../Images/15039.jpg');
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    padding: 1em;
    height: 100vh;
}

.our-vision >.article-vision> .div-visionText{
   display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: justify;
    padding: .5em;
    font-size: 1.em;
    letter-spacing: .2em;
    width: 40em;
    height: 22em;
    padding: .5em;
    box-shadow: 0px 0px 8px;
    background-color: #000000b7;
    color: #fff;
    border-radius: 1em;
    position: relative;
    
}

.our-vision >.article-vision> .div-visionText > p{
    font-variant: small-caps;
    font-variant: small-caps;
    font-style: italic;
}

.our-vision >.article-vision > .div-visionText > h2{
    position: absolute;
    font-size: 2em;
    top: .5em;
    background-color: #9e733a9f;
    width: 97%;
    border-radius: .2em;
    padding: 0em .5em;
}

.our-vision >.article-vision> .div-visionImage{
    width: 25em;
    height: 25em;
    border-radius: 50%;
    box-shadow: 0px 0px 8px;
    padding: 1em;
}

.our-vision > .article-vision> div > img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ffffff00;
}

/* Configuração da ABA our values*/
.first-our-values, .outras-values{

    height: 26vw;
}
.our-values{
    position: relative;
    padding:2em;
    background-color: #001e29;
}

.our-values > article{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.our-values > .article-values > p{
    background-color: #001e29;
    top: 1em;
    padding: 1em;
    color: #fff;
    font-size: 1em;
    text-align: center;
    letter-spacing: .15em;
}

.our-values > article .caixa{
    width: 33%;
    background-color: #8f8989;
    color: #b8b1b1;
    border-radius: 1.4em;
    transition: .5s;
    cursor: default;
    height: 40vh;
}

.our-values > article .caixa:hover{
    width: 33%;
    background-color: #8f8989;
    color: #b8b1b1;
    border-radius: 1.4em;
    transition: .4s;
    cursor: default;
    height: 57vh;
}


.our-values > article .caixa p{
    padding: 1em;
    color:#fff;
    text-align: center;
    font-size: .0em;
    font-family: cursive;
    letter-spacing: .2em;
    transition: .15s;
}

.our-values > article .caixa:hover p{
    font-size: .8em;
}


.our-values > article .caixa >div{
    position: relative;
}

.our-values > article .caixa >div > h2{
    position: absolute;
    font-size: .9em;
    text-align: center;
    top: 6em;
    right: 1.5em;
    color: #8a8787f8;
    transition: 1s;
}

.our-values > article .caixa:hover h2{
    position: absolute;
    font-size: .9em;
    text-align: center;
    top: 2em;
    right: 1.5em;
    color: #fff;
    cursor: default;
}


.our-values > article .caixa >div > img{
    width: 100%;
    height: 50%;
    border-radius: .9em;
}

/*Ouaatras Values*/
.outras-values{
    margin-top: 0em;
}

footer{
    background-color: #835021;
    color: #000;
    width: 100%;
}


/*-------------começando configuração de BodyII or Area Comercial-----------------*/
.bodyII{
    position: relative;
    color:#fff;
    display:none;
    justify-content: center;
    width: 100vw;
    min-height: 80vh;
    background-color: var(--bgc) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}


.bodyII > .inicial-picture{
    min-height: 100vh;
    display: flex;
    gap:2em;
    justify-content: center;
    align-items: center;
    height: 12em;
    background-color: #000000ce;
}

.bodyII > .inicial-picture > .pict{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #fff;
    border-radius: 50%;
    border:3px solid #00694a;
}

.picture1::before{
    position: absolute;
    content: "";
    left: 1em;
    border: 3px solid #00694a;
    width: calc(22.3% + 20px);
    height: 3px;
}

.picture3::after{
    position: absolute;
    content: "";
    right: 1em;
    border: 3px solid #00694a;
    width: calc(22.3% + 20px);
    height: 3px;
}

.bodyII > .inicial-picture > .pict > img{
  width: 100%;
  transition:.6s;
}

.bodyII > .inicial-picture > .pict > img:hover{
    transform: scale(1.03);
}

.video-bg {
    margin-top: 20vh;
    position: fixed;
    top: auto;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover; /* Ajusta o vídeo para cobrir o fundo */
    z-index: -1; /* Coloca o vídeo atrás de outros elementos */
}

.bodyII .slogan{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.bodyII .slogan img{
   width: 70%;
}


