@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;   
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}


:root{
    --bgc:#222327
}
body{
    
}

#secI{
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bgc) ;
}

.main{
    width: 100vw;
    height: 20vh;
    background-color: #001e29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    position: relative;
    width: 98%;
    height: 70px;
    background-color: #00694a;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    border-radius: 10px;
    margin-top: 2.5em;

}

.nav > div{
    position: absolute;
    left: 0;
}

.nav > div > img{
    width: 16.5%;
}

.nav > ul{
    display: flex;
    width: 350px;
}

.nav > ul > li{
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.nav > ul > li > a{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.nav > ul > li > a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    color: #fff;
    transition:.5s;
}

.nav > ul > li.active > a .icon{
    transform: translateY(-35px);
}


.nav > ul > li > a .text{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);



}

.nav > ul > li.active > a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: #00694a;
    border-radius: 50%;
    border: 6px solid #001e29;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator::before{
    content:'';
    position: absolute;
    top:50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #001e29;
}

.indicator::after{
    content:'';
    position: absolute;
    top:50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #001e29;
}

.indicator img{
    width: 100%;
}

.nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}


.bodyI{
    color:#fff;
    display:flex;
    justify-content: center;
    width: 100vw;
    min-height: 80vh;
    background-color: var(--bgc) ;
    background-image: url('../Images/other.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bodyII{
    position: relative;
    color:#fff;
    display:none;
    justify-content: center;
    width: 100vw;
    min-height: 80vh;
    background-color: var(--bgc) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}


.bodyII > .inicial-picture{
    min-height: 80vh;
    display: flex;
    gap:2em;
    justify-content: center;
    align-items: center;
    height: 12em;
    background-color: #000000ce;
}

.bodyII > .inicial-picture > .pict{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #fff;
    border-radius: 50%;
    border:3px solid #00694a;
}

.picture1::before{
    position: absolute;
    content: "";
    left: 1em;
    border: 3px solid #00694a;
    width: calc(22.3% + 20px);
    height: 3px;
}

.picture3::after{
    position: absolute;
    content: "";
    right: 1em;
    border: 3px solid #00694a;
    width: calc(22.3% + 20px);
    height: 3px;
}

.bodyII > .inicial-picture > .pict > img{
  width: 100%;
  transition:.6s;
}

.bodyII > .inicial-picture > .pict > img:hover{
    transform: scale(1.03);
}

.video-bg {
    position: fixed;
    top: auto;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover; /* Ajusta o vídeo para cobrir o fundo */
    z-index: -1; /* Coloca o vídeo atrás de outros elementos */
}

.bodyII .slogan{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyII .slogan img{
   width: 70%;
}

@media (max-width: 768px){
    
}